* {
    font-family: sans-serif;
  }
  input,
  button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  button:hover{
    background-color:black;
    color:white;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
  }
  /*button:nth-last-child(2),
  button:nth-last-child(1) {
    background: tomato;
    color: white;
  }*/
  .result{
    border:solid 3px black;
    border-radius:6px;
    font-size: larger;
    padding:2.5%;
    margin:5%;


  }
  .calculator-body{
    width:500px;
    border: solid 1px black;
    padding:2.5%;
    margin:5%;
  }
  .btn-clr{
    color:white;
    background-color: tomato;
  }
